* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #54b4ab;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0px;
    border: 5px solid #54b4ab;
    text-align: start;
    width: 210px;
    height: 79px;
    margin: 10px 0 0 10px; 
}



  h2 {
    color: white;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color:  #0c324e;
  }
  
  h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f0efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
  }
  
  h4 {
    color: #000000;
  }
  .container {
    text-align: right;
    float: right;
  }
  
  button[type="button"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #54b4ab;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: inline-end;
  }
  
  
  button[type="button"]:hover {
    background-color: #54b4ab;
  }
  
  #cumulativeResult {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
    background-color: #f2f2f2;
  }

  